.nav-bar-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #181818;
    font-size: 20px;
    padding: 0.2em 1em 0.2em 1em;

    .logo {
        // padding: 2em 0rem 2em 1em;
        width: 20%;
        display: flex;
        // justify-content: center;
        align-items: center;
        max-width: 6rem;
      


        img {
            width: 80%;
            ////////////// test ////
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;

            &.sub-logo {
                width: 50px;
            }
        }
    }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-height: 10vh;
        justify-content: space-around;
        width: 100%;

        a {
            text-decoration: none;
            color: #4d4d4e;
            font-size: 27px;
            text-align: center;

            i {
                transition: all 0.3s ease-out;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -ms-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
            }

            &:after {
                content: '';
                font-size: 8px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }

            &:first-child {
                &::after {
                    content: 'ACCUEIL';
                }
            }
        }
        a.about-link {
            &:after {
                content: 'A PROPOS';
            }
        }

        a.contact-link {
            &:after {
                content: 'CONTACT ';
            }
        }

        a.active {
            svg {
                color: #2ef1a6;
            }
        }

    }

    ul {
        // padding-right: 2em;
        display: flex;
        width: 100%;
        justify-content: space-between;
        list-style: none;
        

        li {
            
            a {
                display: block;
                font-size: 27px;

                &:hover svg {
                    color: #2ef1a6;
                }
            }
        }   
    }
}

@media screen and (min-width: 481px) {
    .nav-bar-mobile{
        display: none;
    }
  }